* {
    font-family: helvetica, sans-serif
}


p {
    text-align: center;
}

a {
    color: white;
}

.backhome {
    color: inherit;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: 500;
}

.subheading {
    margin-top: 30px;
    margin-bottom: 50px;
}

.recipes {
    max-width: 350px;
    text-align: center;
    padding: 20px;
    margin: 10px auto;
    /* border: solid black 3px; */
    border-radius: 10px;
    background-color: seagreen;
    font-weight: bold;
    font-size: 20px;
}


img {
    border-radius: 10px;
    box-shadow: inset;
    max-width: 300px;
    margin 0 auto;

}

ul {
    max-width: 350px;
    margin: 0 auto;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: inset;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

ol {
    max-width: 350px;
    margin: 0 auto;
    background-color: lightgreen;
    border-radius: 10px;
    box-shadow: inset;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
